.button {
    border-bottom: 1px black solid;
    display: flex;
    padding: 8px;
}

.button-text {
    flex-grow: 1
}

.delete-chat-button {
    border: 1px black solid;
    padding: 3px 1px 5px 8px;
    margin: 2px;
    width: 15px;
    height: 15px;
}

